<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Show book</title>
</head>
<body>

<p th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYearOfPublication()}">Sample book</p>

<form>
  <label for="person">Выберите читателя:</label>
  <select id="person">
    <option></option>
  </select>

  <input type="submit" value="Выдать книгу">
</form>

<form th:action="@{/books/{id}/edit(id=${book.getId()})}">
  <input type="submit" value="Редактировать">
</form>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
  <input type="submit" value="Удалить">
</form>

</body>
</html>